In [20]:
import os
import numpy as np
import pandas as pd
from glob import glob

In [ ]:
model = "UNext"
train_dataset = "Dataset073_GE_LE"
model_dir = f"models/{train_dataset}/{model}"

cv_avg_metrics = pd.DataFrame()
for fold in range(5):
    results_csv = f"{model_dir}/fold_{fold}/test/results.csv"
    print(results_csv)
    df = pd.read_csv(results_csv)
    assert len(df) == 4, "len(df) for %s != 4" % results_csv
    print(df)
    cv_avg_metrics = pd.concat([cv_avg_metrics, df])

# Replace inf with NaN so they're both skipped in mean calculation
cv_avg_metrics = cv_avg_metrics.replace([np.inf, -np.inf], np.nan)

cv_avg_metrics = cv_avg_metrics.groupby('test_dataset_name').mean().reset_index()
cv_avg_metrics = cv_avg_metrics.round(2)
cv_avg_metrics

models/Dataset073_GE_LE/UNext/fold_4/test/results.csv
                test_dataset_name   dice  dice_std    hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.70      1.93    6.74     16.11   1.33
1              Dataset072_GE_LQP9  81.69     14.03   38.50     44.32   6.01
2          Dataset070_Clarius_L15  48.89     25.49   76.83     46.20  13.69
3  Dataset078_KneeUS_OtherDevices  35.72     21.97  179.54    111.80  11.90

   masd_std
0      1.17
1      7.02
2     16.82
3     12.49
models/Dataset073_GE_LE/UNext/fold_0/test/results.csv
                test_dataset_name   dice  dice_std    hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.75      1.83    4.48      7.67   1.30
1              Dataset072_GE_LQP9  75.76     16.16   52.73     49.20   8.79
2          Dataset070_Clarius_L15  46.34     26.50   80.69     48.99  21.02
3  Dataset078_KneeUS_OtherDevices  26.83     24.21  159.29     93.17  12.74

   masd_std
0      0.63
1      9.35
2     22.29
3     11.04
models/Dataset073_GE_LE/UNext/fold_1/test/results.csv
                test_dataset_name   dice  dice_std    hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.63      2.02    3.99      2.00   1.32
1              Dataset072_GE_LQP9  81.81     12.99   60.66     77.82   9.33
2          Dataset070_Clarius_L15  49.47     25.13   87.61     58.31  18.68
3  Dataset078_KneeUS_OtherDevices  33.82     23.06  161.36     97.51  12.22

   masd_std
0      0.49
1      9.74
2     20.44
3     11.01
models/Dataset073_GE_LE/UNext/fold_2/test/results.csv
                test_dataset_name   dice  dice_std    hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.62      1.80    8.79     19.55   2.14
1          Dataset070_Clarius_L15  45.73     27.19  110.58       NaN    inf
2  Dataset078_KneeUS_OtherDevices  30.12     24.02  208.65    112.37  17.55
3              Dataset072_GE_LQP9  78.14     15.05   65.40     54.93  10.25

   masd_std
0      2.34
1       NaN
2     10.79
3     11.68
models/Dataset073_GE_LE/UNext/fold_3/test/results.csv
                test_dataset_name   dice  dice_std    hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.71      1.98    3.86      2.27   1.27
1          Dataset070_Clarius_L15  43.34     27.20   92.78     59.04  24.61
2              Dataset072_GE_LQP9  78.98     14.98   50.15     61.62   7.18
3  Dataset078_KneeUS_OtherDevices  39.18     24.29  178.39    124.84  10.01

   masd_std
0      0.58
1     22.67
2      8.81
3      9.45

,test_dataset_name,dice,dice_std,hd95,hd95_std,masd,masd_std
0,Dataset070_Clarius_L15,46.75,26.30,89.70,53.14,19.50,20.56
1,Dataset072_GE_LQP9,79.28,14.64,53.49,57.58,8.31,9.32
2,Dataset073_GE_LE,94.68,1.91,5.57,9.52,1.47,1.04
3,Dataset078_KneeUS_OtherDevices,33.13,23.51,177.45,107.94,12.88,10.96